<div class="slider-div">
    <input type="range" min="@MinValue" max="@MaxValue" value="@Value" step="@Step" style="background-size: @GetPercentage()" 
        class="slider" id="myRange" @oninput="HandleInputChange" >
</div>

